<th:block th:fragment="cpuFragment">
	<div class="row">
		<div class="col">
			소켓 : <span id="item_socket"></span>
		</div>
	</div>
	<div class="row">
		<div class="col">코어 수 : <span id="item_core"></span></div>
	</div>
	<div class="row">
			<div class="col">스레드 수 : <span id="item_thread"></span></div>
		</div>
	<div class="row">
		<div class="col">DDR : <span id="item_ddr"></span></div>
	</div>
	<div class="row align-items-center justify-content-between">
		<div class="col-md-3 text-center">
			램 속도
		</div>
		<div class="col-md-9 d-flex align-items-center">
			<canvas class="single-chart" id="item_ramSpeed"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">기본 속도 : <span id="item_defaultSpeed"></span></div>
	</div>
	<div class="row">
		<div class="col">최대 속도 : <span id="item_maxSpeed"></span></div>
	</div>
	<div class="row">
		<div class="col">메모리 채널 : <span id="item_channel"></span></div>
	</div>
	<div class="row">
		<div class="col">내장 GPU : <span id="item_gpu"></span></div>
	</div>
</th:block>