<th:block th:fragment="cpuFragment">
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_socket"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="double-chart" id="item_core"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="double-chart" id="item_speed"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="double-chart" id="item_ddr"></canvas>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col d-flex align-items-center">
			<canvas class="single-chart" id="item_ramSpeed"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_gpu"></canvas>
		</div>
	</div>
</th:block>