<th:block th:fragment="mboardFragment">
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_formFactor"></canvas>	
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_socket"></canvas>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_pci"></canvas>
		</div>
	</div> -->
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_ddr"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_memory"></canvas>
		</div>
	</div>
</th:block>