<th:block th:fragment="ramFragment">
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_type"></canvas>	
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_speed"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_capacity"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<canvas class="single-chart" id="item_channel"></canvas>
		</div>
	</div>
</th:block>