.lb_side-menu {
	z-index: 2;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
	background-color: rgb(207, 207, 207);
}

.lb_side-menu.lb_disabled {
	width: 0;
}

.lb_side-menu.lb_active {
	width: 300px;
}

.lb_overlay {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.lb_pointer {cursor: pointer;}

.lb_ahover {transition: 0.1s;}

.lb_ahover:hover {transform: scale(1.1);}

.lb_top-90 {top: 90%;}

.lb_height-70 {height: 70%;}

.lb_height-40 {height: 40%;}

.lb_height-30 {height: 30%;}