.lb_side-menu {
	width: 300px;
	z-index: 4;
	overflow-x: hidden;
	transition: 0.3s;
	background-color: rgb(207, 207, 207);
}

.lb_side-menu.lb_disabled {
	transform: translateX(-300px);
}

.lb_side-menu.lb_active {
	transform: translateX(0px);
}

.lb_overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.lb_btn_sidemenu {
	border-radius: 0;
	transition: 0.1s;
}

.lb_btn_sidemenu:active {
	border-color: rgba(0, 0, 0, 0) !important;
}

.lb_btn_sidemenu:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.lb_pointer {cursor: pointer;}

.lb_ahover {transition: 0.1s;}

.lb_ahover:hover {transform: scale(1.1);}

.lb_bhover {transition: 0.2s}

.lb_bhover:hover {
	padding-left: 5%;
	padding-right: 5%;
}

.lb_chover:hover {transform: scale(1.1);}

.lb_top-90 {top: 90%;}

.lb_width-90 {width: 90%}

.lb_width-70 {width: 70%}

.lb_height-70 {height: 70%;}

.lb_height-40 {height: 40%;}

.lb_height-30 {height: 30%;}