#downPageIndex {
	animation-duration: 0.5s;
	animation-name: downPageIndex;
	animation-iteration-count: infinite;
	animation-direction: alternate;	
	line-height: 0;
	transition: 0.1s;
}

#downPageIndex:hover {
	transform: scale(1.1);
}


@keyframes downPageIndex {
	from {
		transform: translateY(0px);
	}
	
	to {
		transform: translateY(-30px);
	}
}