<html layout:decorate="~{layout}">
<title layout:fragment="title">견적 제작하기 - PCForge</title>
<div layout:fragment="content" id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">
			<div class="row mt-4">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							제목
						</div>
						<div class="card-body">
							내용
						</div>
						<div class="card-footer">
							발바닥
						</div>
					</div>
				</div>
				<div class="col-12 mt-4 d-md-none"></div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							제목
						</div>
						<div class="card-body">
							내용
						</div>
						<div class="card-footer">
							발바닥
						</div>
					</div>
				</div>
				<div class="col-md-1 d-none d-md-block"></div>
				<div class="col-12 my-5 d-md-none border-top border-2"></div>
				<div class="col-md-3">
					<div class="row mb-4">
						<div class="col">
							<div class="card">
								<div class="card-header">
									제목
								</div>
								<div class="card-body">
									내용
								</div>
								<div class="card-footer">
									발바닥
								</div>
							</div>
						</div>
					</div>
					<div class="row py-5 d-none d-md-block"></div>
					<div class="row mt-4">
						<div class="col">
							<div class="card">
								<div class="card-header">
									제목
								</div>
								<div class="card-body">
									내용
								</div>
								<div class="card-footer">
									발바닥
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
</div>

</html>