<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container vh-100 d-flex flex-column" id="forgeContent">
	<!-- Section -->
	<div class="row flex-grow-1">
		<!-- Target -->
		<div class="col-4 me-2">
			<div class="card h-100">
				<div class="card-body">
					<!-- Image -->
					<div class="row lb_height-30">
						<div class="col">
							상단
						</div>
					</div>
					<!-- Graph -->
					<div class="row lb_height-70 border-top">
						<div class="col">
							하단
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Feature -->
		<div class="col-3 ms-auto">
			<div class="row h-100">
				<div class="col d-flex flex-column">
					<!-- Pick the PCpart -->
					<div class="row h-50">
						<div class="col">
							<div class="card h-100">
								<div class="card-body">
									<!-- Search -->
									<div class="row">
										<div class="col">
											<div class="input-group">
												<input type="text" class="form-control" />
												<a
													class="input-group-append d-flex align-items-center btn btn-secondary">
													<i class="bi bi-search"></i>
												</a>
											</div>
										</div>
									</div>
									<!-- Pick -->
									<div class="row">

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Action -->
					<div class="row lb_height-40 mt-auto">
						<div class="col">
							<div class="card h-100">
								<div class="card-body">
									123
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="row text-center py-3">
		<!-- CPU -->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				CPU
			</a>
		</div>
		<!-- RAM-->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				RAM
			</a>
		</div>
		<!-- GPU -->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				GPU
			</a>
		</div>
		<!-- MotherBoard -->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				메인보드
			</a>
		</div>
		<!-- Disk -->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				저장 장치
			</a>
		</div>
		<!-- PowerSupply -->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				파워
			</a>
		</div>
		<!-- Case -->
		<div class="col">
			<a href="" class="btn btn-light border-secondary w-100 py-2 px-3">
				케이스
			</a>
		</div>
	</div>
</div>

<script layout:fragment="script" th:src="@{/js/forge.js}"></script>

</html>