<html layout:decorate="~{layout}">
<title layout:fragment="title">PCForge - 나만의 PC 만들기</title>
<!-- Index.css -->
<th:block layout:fragment="style">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	</link>
</th:block>
<div layout:fragment="content" class="container">
	<!-- First Page -->
	<div class="row vh-100 align-items-center position-relative">
		<div class="col">
			<!-- Logo -->
			<div class="row justify-content-center">
				<div class="col-5">
					<!-- 일단 예시 이미지 넣었음. 교체해야함. -->
					<img class="w-100"
						src="https://blog.kakaocdn.net/dn/bLzGiU/btrwXzDlMwz/Qi8oNys62ALk1jiZkn1D1k/img.jpg" alt="" />
				</div>
			</div>
			<!-- BuildPC -->
			<div class="row justify-content-center">
				<div class="col-7">
					<!-- 버튼 스타일 나중에 바꿀거임. -->
					<a class="btn btn-warning w-100 text-center py-2" th:href="@{/forge/create}">
						견적 제작하기
					</a>
				</div>
			</div>
			<!-- 아래 화살표 -->
			<div class="row position-absolute lb_top-90 start-50 translate-middle-x">
				<div class="col d-flex justify-content-center">
					<a class="bi bi-arrow-down-circle fs-1 text-warning" href="" id="downPageIndex"></a>
				</div>
			</div>
		</div>
	</div>
</div>

</html>