<nav th:fragment="navbarFragment" class="navbar fixed-top navbar-expand-lg shadow-sm px-4 mb-5 bg-body-tertiary"
	id="lb_navbar">
	<!-- Header  -->
	<div class="container-fluid">
		<a class="navbar-brand lb_ahover" href="javascript:void(0)" id="navbar-menu">
			<i class="bi bi-list fs-2"></i>
		</a>
		<!-- Authorize -->
		<div class="nav-item dropstart" sec:authorize="isAuthenticated()">
			<a class="nav-link dropdown-toggle lb_chover" href="javascript:void(0)" role="button"
				data-bs-toggle="dropdown" aria-expanded="false" id="AccountInfo">
				<i class="bi bi-person-circle text-dark fs-2"></i>
			</a>
			<div class="dropdown-menu">
				<div class="row mx-2">
					<!-- User Id-->
					<div class="col-12" sec:authentication="name"></div>
					<!-- Email -->
					<div class="col-12" id="emailResult"></div>
				</div>
			</div>
		</div>
		<th:block sec:authorize="isAnonymous()">
			<a class="btn btn-outline-primary" th:if="${hideNavbar == null or !hideNavbar}" th:href="@{/user/sign-in}">
				로그인
			</a>
		</th:block>
	</div>
</nav>