<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg shadow-sm px-4 mb-5 bg-body-tertiary">
	<style layout:fragment="style">
		.lb_side-menu {
			z-index: 2;
			overflow-x: hidden;
			transition: 0.3s;
			padding-top: 60px;
			background-color: rgb(207, 207, 207);
		}

		.lb_side-menu.lb_disabled {
			width: 0;
		}

		.lb_side-menu.lb_active {
			width: 300px;
		}

		.lb_overlay {
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}
	</style>
	<!-- Header  -->
	<div class="container-fluid">
		<a class="navbar-brand" href="javascript:void(0)" id="navbar-menu">
			<i class="bi bi-list fs-2"></i>
		</a>

		<a class="btn btn-outline-light" th:href="@{/user/signUp}">
			회원가입
		</a>
	</div>
	<!-- SideMenu -->
	<div class="lb_side-menu lb_disabled h-100 position-fixed top-0 start-0" id="side-menu">

	</div>
	<!-- Overlay -->
	<div class="lb_overlay d-none w-100 h-100 position-fixed top-0 start-0" id="overlay"></div>
	<script layout:fragment="script">
		const btnMenu = document.getElementById("navbar-menu");
		const menu = document.getElementById("side-menu");
		const overlay = document.getElementById("overlay");

		function smOpen() {
			overlay.classList.remove("d-none");
			overlay.classList.add("d-block");
			menu.classList.remove("lb_disabled");
			menu.classList.add("lb_active");
		}

		function smClose() {
			overlay.classList.remove("d-block");
			overlay.classList.add("d-none");
			menu.classList.remove("lb_active");
			menu.classList.add("lb_disabled");
		}
		
		btnMenu.addEventListener("click", smOpen)
		overlay.addEventListener("click", smClose)
	</script>
</nav>