<nav th:fragment="navbarFragment" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
	<!-- Navbar Brand-->
	<a class="navbar-brand ps-3" th:href="@{/}">PCForge</a>
	<!-- Sidebar Toggle-->
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
			class="fas fa-bars"></i></button>
	<!-- Navbar-->
	<ul class="navbar-nav ms-auto me-3 me-lg-4">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-bs-toggle="dropdown"
				aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				<th:block sec:authorize="isAnonymous()">
					<li><a class="dropdown-item" th:href="@{/user/sign-in}">
							로그인
						</a></li>
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
					<li><a class="dropdown-item" href="" sec:authentication="name"></a></li>
					<li><span class="dropdown-item" id="emailResult"></span></li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li><a class="dropdown-item" th:href="@{/user/sign-out}">
						로그아웃
					</a></li>
					<script th:src="@{/js/navbar.js}"></script>
				</th:block>
			</ul>
		</li>
	</ul>
</nav>