<html layout:decorate="~{layout}">
    <title layout:fragment="title">견적 공유 상세보기</title>

    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/index.css}" />
    </th:block>

    <div layout:fragment="content" class="mb-5" id="layoutSidenav_content">
        <table class="table">
			<thead>
			    <tr>
			        <th colspan="2" class="text-center fs-3 fw-bold">[[${share.subject}]]</th>
			    </tr>
			</thead>
			<tbody>
			    <tr>
			        <td colspan="2" class="text-center fs-5">[[${share.content}]]</td>
			    </tr>
                <tr>
                    <td colspan="2">
                        <!-- 구매한 부품 이미지들 -->
                        <div th:if="${share.forge != null}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>종류</th>
                                        <th>상품 이미지</th>
                                        <th>상품 정보</th>
                                        <th>가격</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- CPU -->
                                    <tr th:if="${share.forge.cpu != null}">
                                        <td>CPU</td>
                                        <td><img th:src="@{'/images/' + ${share.forge.cpu.fileName}}" alt="CPU 이미지" width="100" height="100" /></td>
                                        <td><a href="">[[${share.forge.cpu.name}]]</a></td>
                                        <td>[[${share.forge.cpu.price}]] 원</td>
                                    </tr>
                                    <!-- RAM -->
                                    <tr th:if="${share.forge.ram != null}">
                                        <td>RAM</td>
                                        <td><img th:src="@{'/images/' + ${share.forge.ram.fileName}}" alt="RAM 이미지" width="100" height="100" /></td>
                                        <td><a href="">[[${share.forge.ram.name}]]</a></td>
                                        <td>[[${share.forge.ram.price}]] 원</td>
                                    </tr>
                                    <!-- GPU -->
                                    <tr th:if="${share.forge.gpu != null}">
                                        <td>GPU</td>
                                        <td><img th:src="@{'/images/' + ${share.forge.gpu.fileName}}" alt="GPU 이미지" width="100" height="100" /></td>
                                        <td><a href="">[[${share.forge.gpu.name}]]</a></td>
                                        <td>[[${share.forge.gpu.price}]] 원</td>
                                    </tr>
                                    <!-- Mainboard -->
                                    <tr th:if="${share.forge.mboard != null}">
                                        <td>메인보드</td>
                                        <td><img th:src="@{'/images/' + ${share.forge.mboard.fileName}}" alt="메인보드 이미지" width="100" height="100" /></td>
                                        <td><a href="">[[${share.forge.mboard.name}]]</a></td>
                                        <td>[[${share.forge.mboard.price}]] 원</td>
                                    </tr>
                                    <!-- 케이스 -->
                                    <tr th:if="${share.forge.comCase != null}">
                                        <td>케이스</td>
                                        <td><img th:src="@{'/images/' + ${share.forge.comCase.fileName}}" alt="케이스 이미지" width="100" height="100" /></td>
                                        <td><a href="">[[${share.forge.comCase.name}]]</a></td>
                                        <td>[[${share.forge.comCase.price}]] 원</td>
                                    </tr>
                                    <!-- 파워 -->
                                    <tr th:if="${share.forge.psu != null}">
                                        <td>파워</td>
                                        <td><img th:src="@{'/images/' + ${share.forge.psu.fileName}}" alt="파워 이미지" width="100" height="100" /></td>
                                        <td><a href="">[[${share.forge.psu.name}]]</a></td>
                                        <td>[[${share.forge.psu.price}]] 원</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Footer -->
        <footer th:replace="~{footer :: footerFragment}"></footer>
    </div>
</html>
