<th:block th:fragment="sideMenuFragment">
	<!-- Side Menu -->
	<div class="lb_side-menu lb_disabled h-100 position-fixed top-0 start-0" id="side-menu">
		<div class="row">
			<div class="col d-flex">
				<a class="w-100 btn text-start py-2 px-3 lb_btn_sidemenu" th:href="@{/}">
					메인 페이지로 돌아가기
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col d-flex justify-content-center">
				<a class="w-100 btn text-start py-2 px-3 lb_btn_sidemenu" th:href="@{/forge/create}">
					견적 제작하기
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col d-flex justify-content-center">
				<a class="w-100 btn text-start py-2 px-3 lb_btn_sidemenu" th:href="@{/share/list}">
					견적 공유 게시판
				</a>
			</div>
		</div>
	</div>
	<!-- Overlay -->
	<div class="lb_overlay z-3 d-none w-100 h-100 position-fixed top-0 start-0" id="overlay"></div>
</th:block>