<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<!-- User Form -->
	<div class="row vh-100 position-relative">
		<div class="col-10 col-xl-5 position-absolute top-50 start-50 translate-middle">
			<div class="card">
				<div class="card-body">
					<form class="py-3" th:action="@{|/user/${namePage}|}" th:object="${userCreateForm}" method="post">
						<!-- Title -->
						<div class="row my-1">
							<div class="col">
								<h4 class="card-title text-center fw-bold">
									[[${titlePage}]]
								</h4>
							</div>
						</div>
						<!-- Sign Up Error -->
						<div class="row mt-3 px-3" th:if="${#fields.hasAnyErrors()}">
							<div class="col alert alert-danger">
								<span th:text="${#fields.errors()[0]}"></span>
							</div>
						</div>
						<!-- Sign In Error -->
						<div th:if="${param.error}">
							<div class="alert alert-danger">
								사용자 ID 또는 비밀번호를 확인해 주세요
							</div>
						</div>
						<!-- Field -->
						<div class="row my-3">
							<div class="col">
								<!-- ID -->
								<div class="row my-3">
									<div class="col-md-6 px-4 d-flex align-items-center">
										<label class="" for="username">
											사용자명
										</label>
									</div>
									<div class="col-md-6">
										<input class="form-control" type="text" th:field="*{username}" />
									</div>
								</div>
								<!-- PW -->
								<div class="row my-3">
									<div class="col-md-6 px-4 d-flex align-items-center">
										<label class="" for="password">
											비밀번호
										</label>
									</div>
									<div class="col-md-6">
										<input class="form-control" type="password" th:field="*{password}" />
									</div>
								</div>
								<!-- ifRegister -->
								<th:block th:if="${ifRegister == true}">
									<div class="row my-3">
										<div class="col-md-6 px-4 d-flex align-items-center">
											<label class="" for="checkPassword">
												비밀번호 확인
											</label>
										</div>
										<div class="col-md-6">
											<input class="form-control" type="password" th:field="*{checkPassword}" />
										</div>
									</div>
									<div class="row my-3">
										<div class="col-md-6 px-4 d-flex align-items-center">
											<label class="" for="email">
												이메일
											</label>
										</div>
										<div class="col-md-6">
											<input class="form-control" type="email" th:field="*{email}" />
										</div>
									</div>
								</th:block>
							</div>
						</div>
						<!-- Button -->
						<div class="row mt-5">
							<div class="col d-flex justify-content-center align-items-center">
								<button class="btn btn-primary" type="submit">
									[[${btnPage}]]
								</button>
							</div>
						</div>
						<!-- ifRegister == false -->
						<th:block th:unless="${ifRegister == true}">
							<div class="row border-top mt-5 pt-1 justify-content-center align-items-center">
								<div class="col-md-1"></div>
								<div class="col-12 col-md-5 py-3 d-flex justify-content-center">
									아직 계정이 없으신가요?
								</div>
								<div class="col-12 col-md-5 d-flex justify-content-center">
									<a class="btn btn-success" th:href="@{/user/sign-up}">
										회원가입
									</a>
								</div>
							</div>
						</th:block>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</html>